page-updaterequest {
	.comname {
		color: #151a21;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}

	.comdata_rate {
		color: #151a21;
		font-size: 20px;
		font-weight: bold;
		/*text-align	: center;*/
	}

	.comlabel {
		color: #151a21;
		font-size: 13px;
		margin-bottom: 2px;
		height: 30px;
		padding-top: 6px;
		font-weight: bold;
		text-align: right;
	}

	.comdata {
		padding-top: 5px;
		padding-left: 5px;
		height: 30px;
		color: #000;
		font-weight: bold;
		font-size: 18px;
	}

	.tradebase {
		color: #151a21;
		text-align: right;
		font-weight: bold !important;
		padding-top: 8px !important;
	}

	.scroll-content {
		margin-bottom: 120px !important;
	}

	.checkbox-md .checkbox-icon {
		border-radius: 8px !important;
	}

	.checkbox-md .checkbox-checked {

		background-color: green !important;
	}

	.buy_btn {
		background: #2DAA06;
		color: #fff;
		height: 65px;
		width: 60% !important;
	}

	.custom_p_buy {
		font-size: 27px;
		font-weight: bold;
		margin: 0 0 2px !important;
	}

	.rates {
		color: #000 !important;
	}

	.div_btn {
		text-align: center;
	}

	.input_style {
		background: #fff;
		height: 45px;
		width: 105px !important;
		border-radius: 5px;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		border: 1px solid #444;
	}

	.input_command {
		background: #fff;
		//height			: 45px;
		//width			: 105px !important;
		font-size: 16px;
		text-align: center;
		//font-weight		: bold;
		border-bottom: 1px solid #444;
	}

	.min_max {
		color: #151a21;
		font-weight: bold;
		font-size: 11px;
		margin-top: 5px !important;
		margin-bottom: 0px;
	}

	.error {
		color: red;
		font-size: 12px;
		text-align: center;
	}

	.custom_p {
		font-size: 26px;
		font-weight: bold;
		margin: 0 0 2px !important;
	}

	.custom_p_buy {
		font-size: 19px;
		font-weight: bold;
		margin: 0 0 2px !important;
	}

	.select-md {
		padding-top: 10px !important;
		padding: 0px;
	}

	.text-input-md {
		text-align: right !important;
	}

}