<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle clear>
            <ion-icon name="menu" class="menu-icon"></ion-icon>
        </button>
        <ion-title>
            Change Password
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit(changepasswordForm.value)" style="" novalidate padding>
        <ion-list>
            <ion-item class="errMsg" *ngIf="errorMessage != ''">{{errorMessage}}</ion-item>
            <ion-row>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="key"></ion-icon></ion-col>
                <ion-col col-10 class="component_col">
                    <ion-item>
                        <ion-input [formControl]="oldpassword" type="{{typeocheck}}" maxlength="15" clearOnEdit="{{clearedit2}}" placeholder="Old Password (Min. 6 characters)"></ion-input>
                        <button *ngIf="!showoPass" ion-button clear color="dark" type="button" item-right (click)="showoPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye-off"></ion-icon></button>
                        <button *ngIf="showoPass" ion-button clear color="dark" type="button" item-right (click)="showoPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye"></ion-icon></button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ng-container *ngIf="oldpassword.touched && oldpassword.value">
                <div class="err" *ngIf="!validLength(oldpassword.value)">* Password must be 6–15 characters</div>
                <div class="err" *ngIf="!hasUpperCase(oldpassword.value)">* At least 1 uppercase letter required</div>
                <div class="err" *ngIf="!hasNumber(oldpassword.value)">* At least 1 number required</div>
                <div class="err" *ngIf="!hasSpecialChar(oldpassword.value)">* At least 1 special character required</div>
            </ng-container><br>

            <ion-row>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="key"></ion-icon></ion-col>
                <ion-col col-10 class="component_col">
                    <ion-item>
                        <ion-input [formControl]="newpassword" type="{{typecheck}}" maxlength="15" clearOnEdit="{{clearedit}}" placeholder="Enter Your Password"></ion-input>
                        <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye-off"></ion-icon></button>
                        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye"></ion-icon></button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ng-container *ngIf="newpassword.touched && newpassword.value">
                <div class="err" *ngIf="!validLength(newpassword.value)">* Password must be 6–15 characters</div>
                <div class="err" *ngIf="!hasUpperCase(newpassword.value)">* At least 1 uppercase letter required</div>
                <div class="err" *ngIf="!hasNumber(newpassword.value)">* At least 1 number required</div>
                <div class="err" *ngIf="!hasSpecialChar(newpassword.value)">* At least 1 special character required</div>
            </ng-container><br>

            <ion-row>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="key"></ion-icon></ion-col>
                <ion-col col-10 class="component_col">
                    <ion-item>
                        <ion-input [formControl]="confirmpassword" type="{{ctypecheck}}" maxlength="15" clearOnEdit="{{clearedit1}}" placeholder="Enter Your Confirm Password"></ion-input>
                        <button *ngIf="!showcPass" ion-button clear color="dark" type="button" item-right (click)="showcPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye-off"></ion-icon></button>
                        <button *ngIf="showcPass" ion-button clear color="dark" type="button" item-right (click)="showcPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye"></ion-icon></button>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ng-container *ngIf="confirmpassword.touched && confirmpassword.value">
                <div class="err" *ngIf="!validLength(confirmpassword.value)">* Password must be 6–15 characters</div>
                <div class="err" *ngIf="!hasUpperCase(confirmpassword.value)">* At least 1 uppercase letter required</div>
                <div class="err" *ngIf="!hasNumber(confirmpassword.value)">* At least 1 number required</div>
                <div class="err" *ngIf="!hasSpecialChar(confirmpassword.value)">* At least 1 special character required</div>
            </ng-container>
        </ion-list>

        <button [disabled]="!changepasswordForm.valid" ion-button class="btn_common" block color="dark">Submit</button>
    </form>
</ion-content>
