page-contact {
    .scroll-content {
        margin-bottom: 90px;
    }

    .small_icons {
        align-items: center;
        justify-content: center;
        display: flex;
        color: #000 !important;
    }
}