page-tds {
    .cal-row {
        padding: 0px !important;
    }

    .header-row {
        background-color: #980000;
        color: #fff;
        text-align: center;
    }

    .input-row {
        text-align: center;
        background-color: #E6E6E6;
        border: #212d47 1px solid;
        font-weight: bold;
    }

    .removeicon {
        font-size: 2.2em;
    }

    ion-input {
        border: #212d47 1px solid;
        width: 110% !important;
        font-size: 18px;
        background: #FFF;
    }

    .pay-val {
        vertical-align: middle;
        font-size: 1.2em;
    }

    .add-more {
        background-color: #212d47;
        border: none;
        color: white;
    }

    .summary-val {
        font-size: 1.6em;
        font-weight: bold;
        text-align: right;
    }

    .tds-grid [col-3],
    [col-4],
    [col-2] {
        padding: 1px !important;
    }

    .text-input-md {
        margin: 6px 6px !important;
    }

    .content-md {
        color: #000 !important;
        background-color: #fff;
    }

    .text-input-md {
        margin: 6px 6px !important;
        text-align: right;
        padding: 0;
        width: calc(100% - 4px - 4px);
    }

    .tds-icon {
        color: #980000 !important;
        font-size: 2em !important;
    }
}