<ion-header>
  <ion-navbar>
    <ion-row style="align-items: center;">
      <ion-col col-2>
        <button ion-button menuToggle>
          <ion-icon class="topmenu" name="menu" class="menu-icon"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8 style="padding: 0px !important;"><ion-title>Analytics</ion-title></ion-col>
      <ion-col col-2>

      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content text-center>
  <!-- Loader -->
  <div *ngIf="loader" class="loader-container">
    <ion-spinner></ion-spinner>
    <p>Loading...</p>
  </div>

  <!-- Responsive iframe wrapper -->
  <div *ngIf="!loader" class="iframe-wrapper ta-wrapper">
    <iframe frameborder="0" scrolling="no" allowtransparency="true" [src]="iframeSrc">
    </iframe>
  </div>

  <div *ngIf="!loader" class="iframe-wrapper so-wrapper">
    <iframe frameborder="0" scrolling="no" allowtransparency="true" [src]="iframeSrc2">
    </iframe>
  </div>

  <div *ngIf="!loader" class="iframe-wrapper so-wrapper">
    <iframe frameborder="0" scrolling="no" allowtransparency="true" [src]="iframeSrc3">
    </iframe>
  </div>

  <div *ngIf="!loader" class="iframe-wrapper so-wrapper">
    <iframe frameborder="0" scrolling="no" allowtransparency="true" [src]="iframeSrc4">
    </iframe>
  </div>
</ion-content>