<ion-header>
    <ion-navbar>
        <button ion-button menuToggle clear>
            <ion-icon name="menu" class="menu-icon"></ion-icon>
        </button>
        <ion-title>
            User Registration
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content text-center padding>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm.value)" novalidate padding style="margin-bottom:30px !important;">
        <ion-list>
            <ion-item class="errMsg" *ngIf="errorMessage != ''">{{errorMessage}}</ion-item>

            <ion-row>
                <ion-col col-10 class="login_head">Name *</ion-col>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="person"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="component_col"><ion-input [formControl]="name" type="text" maxlength="30" placeholder="Enter Your Name" (keypress)="noSpecialChars($event)"></ion-input></ion-col>
                <div class="err" *ngIf="registrationForm.get('name').hasError('required') && registrationForm.get('name').touched">* Name is required</div>
                <div class="err" *ngIf="registrationForm.get('name').hasError('minlength') && registrationForm.get('name').touched">* Minimum 4 characters</div>
                <div class="err" *ngIf="registrationForm.get('name').hasError('maxlength') && registrationForm.get('name').touched">* Maximum 30 characters allowed</div>
                <div class="err" *ngIf="registrationForm.get('name').hasError('pattern') && registrationForm.get('name').touched">* Special characters not allowed</div>
            </ion-row>

            <ion-row>
                <ion-col col-10 class="login_head">Company Name *</ion-col>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="ios-people"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="component_col"><ion-input [formControl]="company" type="text" maxlength="50" placeholder=" Enter Your Company Name" (keypress)="noSpecialChars($event)"></ion-input></ion-col>
                <div class="err" *ngIf="registrationForm.get('company').hasError('required') && registrationForm.get('company').touched">* Company name is required</div>
                <div class="err" *ngIf="registrationForm.get('company').hasError('minlength') && registrationForm.get('company').touched">* Minimum 4 characters</div>
                <div class="err" *ngIf="registrationForm.get('company').hasError('maxlength') && registrationForm.get('company').touched">* Maximum 50 characters allowed</div>
                <div class="err" *ngIf="registrationForm.get('company').hasError('pattern') && registrationForm.get('company').touched">* Special characters not allowed</div>
            </ion-row>

            <ion-row>
                <ion-col col-10 class="login_head">Company Address *</ion-col>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="pin"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="component_col"><ion-input [formControl]="cus_address" type="text" maxlength="100" placeholder=" Enter Your Company Address" (keypress)="noSpecialChars($event)"></ion-input></ion-col>
                <div class="err" *ngIf="registrationForm.get('cus_address').hasError('required') && registrationForm.get('cus_address').touched">* Address is required</div>
                <div class="err" *ngIf="registrationForm.get('cus_address').hasError('minlength') && registrationForm.get('cus_address').touched">* Minimum 4 characters</div>
                <div class="err" *ngIf="registrationForm.get('cus_address').hasError('maxlength') && registrationForm.get('cus_address').touched">* Maximum 200 characters allowed</div>
                <div class="err" *ngIf="registrationForm.get('cus_address').hasError('pattern') && registrationForm.get('cus_address').touched">* Special characters not allowed</div>
            </ion-row>

            <ion-row>
                <ion-col col-10 class="login_head">Email *</ion-col>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="mail"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="component_col"><ion-input [formControl]="email" type="email" maxlength="50"
                        placeholder="Enter Your Email" (keypress)="noSpecialCharsEmail($event)"></ion-input></ion-col>
                <div class="err" *ngIf="registrationForm.get('email').hasError('required') && registrationForm.get('email').touched">* Email is required</div>
                <div class="err" *ngIf="registrationForm.get('email').touched && registrationForm.get('email').hasError('pattern')">* Email id is invalid</div>
            </ion-row>

            <ion-row>
                <ion-col col-10 class="login_head">Whatsapp No*</ion-col>
                <ion-col col-2 class="icon_col"><i class="fab fa-whatsapp"></i></ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12 class="component_col"><ion-input [formControl]="whatsappno" type="tel" maxlength="10" placeholder="Enter Your 10 digit Whatsapp Mobile Number" pattern="[0-9]*" (keypress)="onlyNumbers($event)"></ion-input></ion-col>
                <div class="err" *ngIf="registrationForm.get('whatsappno').hasError('required') && registrationForm.get('whatsappno').touched">* Whatsapp number is required</div>
                <div class="err" *ngIf="registrationForm.get('whatsappno').hasError('minlength') && registrationForm.get('whatsappno').touched">* Must be exactly 10 digits</div>
                <div class="err" *ngIf="registrationForm.get('whatsappno').hasError('maxlength') && registrationForm.get('whatsappno').touched">* Must be exactly 10 digits</div>
            </ion-row>

            <!-- <ion-item class="business_type">
					<ion-label class="buiness_label">Business Type</ion-label>
					<ion-select [(ngModel)]="default_select" formControlName="options">
						<ion-option value="1">TCS</ion-option>
						<ion-option value="2">TDS</ion-option>
					</ion-select>

				</ion-item>
				<div class="hint_msg">(HINT - {{tcstdshint}})</div> -->
            <ion-row>
                <ion-col col-10 class="login_head">GST No *</ion-col>
                <ion-col col-2 class="icon_col">
                    <ion-icon class="ionicon" name="barcode"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="component_col">
                    <ion-input [ngModel]="GSTpattern" maxlength="15" (ngModelChange)="GSTpattern= $event.toLocaleUpperCase()" [formControl]="company_GST" type="text" placeholder="GST Number (e.g., 27ABCDE1234F1Z5)" (keypress)="GST_valid($event)"></ion-input>
                </ion-col>
                <div class="err" *ngIf="registrationForm.get('company_GST').hasError('required') && registrationForm.get('company_GST').touched">
                    * GST number is required
                </div>
                <div class="err" *ngIf="registrationForm.get('company_GST').touched && registrationForm.get('company_GST').hasError('minlength')">
                    * GST number must be exactly 15 characters
                </div>
                <div class="err" *ngIf="registrationForm.get('company_GST').touched && registrationForm.get('company_GST').hasError('maxlength')">
                    * GST number must be exactly 15 characters
                </div>
            </ion-row>

            <ion-row>
                <ion-col col-10 class="login_head">Mobile No *</ion-col>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="phone-portrait"></ion-icon></ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-12 class="component_col"><ion-input [formControl]="mobile" type="tel" maxlength="10" placeholder="Enter Your 10 digit Mobile Number" pattern="[0-9]*" (keypress)="onlyNumbers($event)"></ion-input></ion-col>
                <div class="err" *ngIf="registrationForm.get('mobile').hasError('required') && registrationForm.get('mobile').touched">* Mobile number is required</div>
                <div class="err" *ngIf="registrationForm.get('mobile').hasError('minlength') && registrationForm.get('mobile').touched">* Must be exactly 10 digits</div>
                <div class="err" *ngIf="registrationForm.get('mobile').hasError('maxlength') && registrationForm.get('mobile').touched">* Must be exactly 10 digits</div>
            </ion-row>

            <!-- <ion-row style="padding-bottom: 15px !important;">
					<ion-col col-10 class="login_head">Pan Number</ion-col>
					<ion-col col-2 class="icon_col">
						<ion-icon class="ionicon" name="card"></ion-icon>
					</ion-col>
					</ion-row>
					<ion-row>
					<ion-col col-12 class="component_col">
						<ion-input maxlength="10" [ngModel]="PANpattern"
							(ngModelChange)="PANpattern= $event.toLocaleUpperCase()" [formControl]="Pan_no" type="text"
							placeholder="Pan Number(Optional)"></ion-input>
					</ion-col>
					<div class="err"
					*ngIf=" registrationForm.get('Pan_no').touched && registrationForm.get('Pan_no').hasError('pattern') ">
					*Pan number is invalid
				  </div>
					<div class="err"
						*ngIf="registrationForm.get('Pan_no').hasError('required') && registrationForm.get('Pan_no').touched">
						*Pan number is required
					</div>
				</ion-row> -->


            <ion-row>
                <ion-col col-10 class="login_head">Password *</ion-col>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="key"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="component_col">
                    <ion-item>
                        <ion-input [formControl]="password" type="{{typecheck}}" maxlength="15" clearOnEdit="{{clearedit}}" placeholder="Enter Your Password"></ion-input>
                        <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye-off"></ion-icon></button>
                        <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye"></ion-icon></button>
                    </ion-item>
                </ion-col>
                <ion-col col-1>

                </ion-col>
                <ng-container *ngIf="registrationForm.get('password').touched && registrationForm.get('password').value">
                    <div class="err" *ngIf="!validLength(registrationForm.get('password').value)">* Password must be 6–15 characters</div>
                    <div class="err" *ngIf="!hasUpperCase(registrationForm.get('password').value)">* At least 1 uppercase letter required</div>
                    <div class="err" *ngIf="!hasNumber(registrationForm.get('password').value)">* At least 1 number required</div>
                    <div class="err" *ngIf="!hasSpecialChar(registrationForm.get('password').value)">* At least 1 special character required</div>
                </ng-container>
            </ion-row>
            <ion-row>
                <ion-col col-10 class="login_head">Password (Re-enter again) *</ion-col>
                <ion-col col-2 class="icon_col"><ion-icon class="ionicon" name="key"></ion-icon></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 class="component_col">
                    <ion-item>
                        <ion-input [formControl]="confirmpassword" maxlength="15" type="{{ctypecheck}}" clearOnEdit="{{clearedit1}}" placeholder="Enter Your Confirm Password"></ion-input>
                        <button *ngIf="!showcPass" ion-button clear color="dark" type="button" item-right (click)="showcPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye-off"></ion-icon></button>
                        <button *ngIf="showcPass" ion-button clear color="dark" type="button" item-right (click)="showcPassword()" style="padding: 0px;"> <ion-icon style="margin-top:5px;color:black !important;" name="eye"></ion-icon></button>
                    </ion-item>
                </ion-col>
                <ion-col col-1>

                </ion-col>
                <ng-container *ngIf="registrationForm.get('confirmpassword').touched && registrationForm.get('confirmpassword').value">
                    <div class="err" *ngIf="!validLength(registrationForm.get('confirmpassword').value)">* Password must be 6–15 characters</div>
                    <div class="err" *ngIf="!hasUpperCase(registrationForm.get('confirmpassword').value)">* At least 1 uppercase letter required</div>
                    <div class="err" *ngIf="!hasNumber(registrationForm.get('confirmpassword').value)">* At least 1 number required</div>
                    <div class="err" *ngIf="!hasSpecialChar(registrationForm.get('confirmpassword').value)">* At least 1 special character required</div>
                </ng-container>
                <div class="err">{{pswderror}}</div>
            </ion-row>
        </ion-list>
        <br>

        <!-- <div class="center_align captions">
				<p (click)="download_kyc();" class="center_align href_link">Download Kyc</p>
			</div> -->

        <div class="center_align captions">
            <ion-checkbox [formControl]="dummy_accept" [(ngModel)]="authorization.terms" type="checkbox" color="dark" checked="true"></ion-checkbox> Accept <span class="center_align href_link" (click)="gotoTermsPage();">Terms and Conditions</span> to register
        </div><br>

        <button [disabled]="!registrationForm.valid || isDisabled || !authorization.terms"
            ion-button class="btn_common" block color="dark">Register</button>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar style="background:#2A2A2A !important;	color:#FFF !important;">
        <ion-row>
            <ion-col col-4></ion-col>
            <ion-col class="footer_tab" col-8 (click)="gotoLoginPage();" style="color: #FFFFFF !important;">Having account?Login</ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>

<!--<ion-footer class="footer-bottom">
	<ion-grid>
		<ion-row>
			<ion-col>&copy;Shrivaru Gold's</ion-col>
			<ion-col text-right>Logimax</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>-->
