@charset "utf-8";
/* CSS Document */

body{
	margin:10;
	padding:0;
	font:13px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#000;
}
p{
	margin:0;
	padding:0;
}
a img{
	border:none;
}
.title-bar{
	position: relative;
	margin: 0 auto;
	width: 960px;
	background-color: #DDF3FE;
	padding: 0 10px;
	height: 30px;
	border-bottom: #FFF 3px solid;
}
.data-table-container{
	position:relative;
	background-color:transparent;
	border-color:rgb(202,202,217);
	border-width:1px;
	-moz-border-radius:1%;
	-webkit-border-radius:0%/1%;
	border-radius:1%/1%;
	border-style:solid;
	padding:10px;
}
.table1-container{
	position: relative;
	float: left;
	padding: 5px;
	width: 585px;
}
.table2-container{
	position: relative;
	float: right;
	padding: 5px;
	width: 340px;
}
.table3-container{
	position:relative;
	float:left;
	padding:5px;
	clear:both;
}
.rpanel{
	font:bold 16px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#table1, #table2, .table3{
	background-color:transparent;
	padding:3px;
	border-color:rgb(189,189,191);
	border-width:1px;
	-moz-border-radius:2% 2%;
	-webkit-border-radius:2%/2%;
	border-radius:2%/2%;
	border-style:solid;
}

.odd{
	background:url(../img/r_panel/oddrow-bg.jpg) repeat-x;
	height:30px;
}
.even{
	background:url(../img/r_panel/evenrow-bg.jpg) repeat-x;
	height:30px;
}
.lastupdate{
	position:relative;
	background:url(../img/r_panel/lastupdate-bg.jpg) no-repeat top center;
	width:250px;
	height:30px;
	line-height:25px;
	margin:10px auto;
	text-align:center;
	clear:both;
}
#table1 td, #table2 td, .table3 td{
	border-right:#FFf 1px solid;
	border-bottom:#FFf 1px solid;
	height:30px;
	text-align:center;
	color:#000;
	font-size:14px;
}
.table3 td{
	width:97px;
}#table1 .title, #table2 .title{
	background:url(../img/r_panel/table-title1.jpg) repeat-x ;
	height:30px;
	font-weight: bold;
}
#table1 .titleheading1, #table2 .titleheading1{
	color:#2A9FDE;
}

#table1 .rateheading, #table2 .rateheading{
	background-color:#30A5E8;
	color:#FFF;
	width: 118px;
	
}
.table3-title{
	background-color:#ADDBF5;
}
.table3-rate{
	background-color:#E5E3E4;
}
.table3-rate td{
	width:10px;
}
.help-desk{
	position:relative;
	margin:0 auto;
	background:url(../img/r_panel/help-desk-bg.jpg) no-repeat;
	width:179px;
	height:223px;
}
.help-phone-no{
	position:relative;
	float:left;
	text-align:center;
	width:179px;
	margin-top:100px;
}
.poweredby{
	position:relative;
	float:left;
	width:179px;
	margin-top:30px;
	text-align:center;
}

.commodity-data{
  	width:99%;
	height: 30px;
	border: none;
	background:transparent;
	text-align: center;
}

/*#mcx_bank .commodity-data, #ch_mcx_bank .commodity-data, #silver_mcx_bank .commodity-data{
		/*width:96px ;
		width: 100%;
}*/
#manual td,#ch_manual td,#gold3_manual td, #silver_manual td{

	width: 24%;
}


#table2 .spot-data{
	width:100%;
	height:30px;
	
}

input[type=text]{
		font: inherit;
	font-size: inherit;
	text-align: center;
	vertical-align: middle;	
}
input[type=text].editable{
	width:90%!important;
	height:85%!important;
	background: #FFFFFF;
	border:1px solid #999999;
}