page-about {
  .about-content {
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
  }

  .scroll-content,
  scroll-content {
    padding-bottom: 120px !important;
    // margin-bottom: 100px !important;
  }
}