page-pendingorders {
    ion-app.ios [padding] .scroll-content {
        padding: 0px !important;
    }

    .small_icon {
        height: 10px;
        width: 10px;
    }

    .tiny_text {
        color: #000;
        font-size: 9px;
    }

    .hidden_details {
        font-size: 11px;
    }

    .btn_edit {
        background: green;
        color: #fff;
    }

    .btn_cancel {
        background: red;
        color: #fff;
    }

    .button-small {
        height: 25px;
    }

    .label_cost {
        /*background: #C9C9C9;*/
        color: #000;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
    }

    .label_grams {
        /*background: #C9C9C9;*/
        color: #000;
        font-size: 9px;
        font-weight: bold;
        text-align: right;
    }

    .ion_datetime {
        background-color: #fff;
        color: #000;
        border-bottom: 1px solid green;
    }

    .card-content-md {
        padding: 5px !important;
    }

    .col15 {
        width: 15% !important;
    }

    .col20 {
        width: 20% !important;
    }

    .col45 {
        width: 45% !important;
    }

    .book_no {
        font-size: 8px;
    }

    .scroll-content {
        margin-bottom: 80px !important;
    }

    .label_comment {
        color: #000;
        font-size: 10px;
        text-align: right;
    }

    .card-content-md {
        color: #000;
        padding: 13px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
    }
}