<!--
  Generated template for the TradablecommoditylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>	
	<ion-navbar>
		<ion-title>
		<ion-row>
			<ion-col col-2><ion-icon class="menu-icon" name="arrow-round-back" (click)="gotoHomePage()"></ion-icon></ion-col>
			<ion-col col-10>Market Booking</ion-col>
		</ion-row>	
		</ion-title>	
	</ion-navbar>
	<ion-segment [(ngModel)]="pet" (ionChange)="segmentChanged($event)">
		<ion-segment-button value="buying">
			BUYING RATE
		</ion-segment-button>
		<ion-segment-button value="selling">
			SELLING RATE
		</ion-segment-button>
	</ion-segment>
</ion-header>


<ion-content padding padding-bottom>
	<div [ngSwitch]="pet">
	<div *ngSwitchCase="'selling'">
		<ion-card *ngFor="let tradablecommodity of liverates"  (click)="gotoBookingPage1(tradablecommodity.com_id, '0', tradablecommodity.selling_rate);" no-padding>
			<ng-container *ngIf="tradablecommodity.sell_status == 1 ">
				<ion-card-content no-padding>
					<div class="comname">{{tradablecommodity.com_name}}</div>
					<div class="comrate" [ngClass]="tradablecommodity.currentclass">{{tradablecommodity.selling_rate == '-'	? '-' : (tradablecommodity.selling_rate - tradablecommodity.prem_sel_premium)}}</div>
				</ion-card-content>
			</ng-container>
		</ion-card>
	</div>
	<div *ngSwitchCase="'buying'">
		<ion-card *ngFor="let tradablecommodity of liverates"  (click)="gotoBookingPage1(tradablecommodity.com_id, '1', tradablecommodity.buying_rate);" no-padding>
			<ng-container *ngIf="tradablecommodity.sell_status == 1 ">
				<ion-card-content no-padding>
					<div class="comname">{{tradablecommodity.com_name}}</div>
					<div class="comrate" [ngClass]="tradablecommodity.currentclass1">{{tradablecommodity.buying_rate == '-' ? '-' : (tradablecommodity.buying_rate - tradablecommodity.prem_buy_premium)}}</div>
				</ion-card-content>
			</ng-container>
		</ion-card>
	</div>
</div>
</ion-content>
