@media only screen and (max-width:1050px){.login{margin-left:0px !important}
}@media only screen and (max-width:850px){.top-div{width:60%}
.top-div1{margin-top:10px;}
.contant{margin-top:0px;}
}@media only screen and (max-width:830px){.report-heading{text-align: center;}
}@media only screen and (max-width:800px){.top-div, #register{margin-top: 2%;}
.top-div1{margin-top: 3% !important;}
.allReports1{margin-top:3%}
}@media only screen and (max-width:767px){.top-div, #register{margin-top: 2%;}
.top-div1{margin-top: 3% !important;}
.top-div, #register .top-div{width: 90% !important;margin-left: auto !important; margin-right: auto !important;}
.displayLotSize{margin-bottom: 0px;}
.allReports1{margin-top:3%}
}@media only screen and (max-width:740px){.top-div, #register{margin-top: 10%;}
.top-div1{margin-top: 12% !important;}
.allReports1{margin-top:5%}
}@media only screen and (max-width:700px){.top-div, #register {margin-top: 11%;}
.top-div1{margin-top: 12% !important;}
.termsText1{margin-top: 56px;}
.label_sign{    display: table-cell;}
.report-heading{text-align: center;}
.allReports1{margin-top:5%}
}@media only screen and (max-width:670px){.top-div, #register{margin-top: 12%;}
.top-div1{margin-top: 14% !important;}
.allReports1{margin-top:5%}
}@media only screen and (max-width:600px){.top-div, #register{margin-top: 13%;}
.top-div1{margin-top: 16% !important;}
.allReports1{margin-top:5%}
}@media only screen and (max-width:480px){.top-div, #register{margin-top: 15%;}
.top-div1{margin-top: 19% !important;}
.marquee_head{margin-top:  0px !important;}
.reports-container{padding-left: 5px;padding-right: 5px;}
.report_table {display: block;overflow: scroll;}
.report_table tr th, .report_table tr td{font-size: 12px;}
.report-bottom{margin-bottom: 20px;}
.request-btn-value{font-size: 12px;}
.allReports1{margin-top:5%}
}@media only screen and (max-width:430px){.top-div, #register{margin-top: 11%;}
.top-div1{margin-top: 22% !important;}
.table_responsivetop2, .table-responsivetop3{margin-left: 13px !important;}
.allReports1{margin-top:5%}
}@media only screen and (max-width:400px){.top-div, #register{margin-top: 16%;}
.top-div1{margin-top: 21% !important;}
.table-responsivetop3, .table_responsivetop2{margin-left:0px !important;width:auto !important;}
.allReports1{margin-top:5%}
}
@media only screen and (max-width:380px){.allReports1{margin-top:5%}
}@media only screen and (max-width:360px){.top-div, #register{margin-top:19%;}
.top-div1{margin-top: 25% !important;}
.allReports1{margin-top:5%}
}@media only screen and (max-width:320px){.top-div, #register{margin-top: 14%;}
.top-div1{margin-top:26% !important;}
.table_responsive1{margin-left:-1px !important;    width: 292px !important;}
.com_name{font-size:10px !important}
.allReports1{margin-top:5%}
}@media only screen and (max-width:300px){.top-div, #register{margin-top: 14%;}
.top-div1{margin-top:26% !important;}
.allReports1{margin-top:5%}
}