ion-modal.whatsapp  {

    @media (min-width: 250px) and (min-height: 300px) {
        ion-backdrop {
            visibility: visible;
        }
    }
    .row {
        // padding: 5px !important;
        background: #fff;
        
    }
    .content-md{
        background: #fff !important;
    }
    .modal-wrapper {
        position: absolute;
        // overflow: hidden;
        max-width: 250px;
        border-radius: 6px;
        width: 70vw;
        // height: 15vh;
        height: auto;
        max-height: 30vh;
        overflow-y: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border: 0;
        box-shadow: 0 16px 20px rgba(0, 0, 0, .4);
        background-color: #fff;
    }
    .button-md{
        border-radius: 6px;
    }
    .col{
        //    padding: 0px !important;
        //    background: #FFFFFF;

    }
    .alert-head {
        border-bottom: 1px dashed #603814;
        padding: 8px !important;
        margin-bottom: 5px !important;
    }
    ion-footer{
        background: #fff;
          color: #FFFFFF;
          font-size: 12px;
      }
      .button-md {
        color: #FFF;
        background: #00adef !important;
        border-radius: 6px;
    }
    .rowcontent{
        text-align: left !important;
        // border-bottom:1px dashed #d7b470;
    }
    .rowcontent1{
        font-size: 14px !important;
        font-weight: bold !important;
    }
    // ion-content {
    //     height: auto;
    //     max-height: 20vh; /* Restrict max height */
    //     overflow-y: auto; /* Make it scrollable */
    //   }
    .divcontent{
        border-bottom:1px dashed #603814;
    }
}     