page-modal {
    ion-title{
        color:#000 !important;
    }
    .toolbar-title-md{
        color:#000 !important;
        text-align: left;
    }
    .bar-button, .tabs-md .bar-button:hover{
        color:#000;
    }
}
