page-ledgerreport {
    .tiny_text{
        color: #000;
        font-size: 9px;
    }
    .label_cost{
        /*background: #C9C9C9;*/
        color: #000;
        font-size: 10px;
        text-align: right;
    }
    .label_cost_bal{
        color: #000;
        font-size: 12px;
        font-weight: bold;
    }
    .label_grams{
        /*background: #C9C9C9;*/
        color: #000;
        font-size: 9px;
        font-weight: bold;
        text-align: right;
    }
    .card-content-ios {
        padding: 5px !important; 
    }
    .card-content-md{
        padding: 2px !important;
    }
    .com_name{
        color: #8C6C00;
        font-weight: bold;
        font-size: 11px;
    }
    .heading{
        color: #8C6C00;
        font-weight: bold;
        font-size: 11px;
    }
    .ion_datetime{
        background-color: #fff;
        color: #000;
        border-bottom: 1px solid #8C6C00;
    }
    .scroll-content{
        margin-bottom: 24px;
    }
    .label_balance{
        color: #FFCD00;
    }
    .current_balance{
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }
}
