.margin-container {
    height: 35px;
    margin-bottom: 2px;
    font-size: 18px;
    padding: 0;
    background: var(--mg-dark-red) !important;
    color: var(--mg-white) !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-radius: 0 !important
}

.margin-container .margin-text {
    background: #D0CECF;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 700;
    background-color: #1f1673
}

.margin-container .margin-value {
    color: #FFF;
    height: 35px;
    line-height: 35px;
    border: 1px solid #E1E1E1;
    font-size: 18px;
    font-weight: 700;
    background-color: #1f1673
}

.margin-container>div {
    padding: 0;
    line-height: 35px;
    height: 35px
}

.report-section {
    text-align: center;
    border-top: 1px solid #fff;
    height: 35px;
    line-height: 35px;
    background: #1f1673
}

.report-section .report-1 {
    border-right: 1px solid #FFF
}

.report-section a {
    color: #FFF
}

.comm-purchase {
    pointer-events: none;
    border: 1px solid #e9e9eb;
    background: #f9f9f9;
    padding-top: 10px
}

.requst_heading {
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0
}

.request-text {
    background: var(--mg-light-red) !important;
    line-height: 30px;
    text-align: center;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    color: var(--mg-white) !important;
}

.request-value {
    background: #eaeaea;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #000
}

.request-btn-text {
    font-weight: 700;
    font-size: 15px;
    color: #000;
    text-align: center
}

.request-rows {
    margin: 5px 0
}

.button-book .buysellrates {
    text-align: center;
    color: #fff;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px
}

#book .buysellrates {
    background: green
}

.button-cancel .buysellrates {
    text-align: center;
    background: red;
    color: #FFF;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    line-height: 50px
}

.button-update .buysellrates {
    text-align: center;
    background: green;
    color: #FFF;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px
}

#rateval {
    font-weight: 700;
    font-size: 19px
}

.button-book {
    margin-top: 15px;
    margin-bottom: 10px
}

.button-cancel {
    margin-top: 15px;
    margin-bottom: 10px
}

.button-update {
    margin-top: 15px;
    margin-bottom: 10px
}

.button-red {
    padding-left: 25px;
    padding-right: 25px;
    pointer-events: none;
    display: none
}

.insuff_margin {
    text-align: center;
    background: red;
    color: #fff;
    height: 45px;
    padding: 13px;
    border-radius: 5px;
    margin-top: 20px
}

.atv_btn {
    pointer-events: all !important
}

.width-input {
    background-color: #FFF;
    font-weight: 700;
    text-align: left;
    height: 30px !important;
    font-size: 15px;
    padding: 0 12px
}

.report_table {
    border-collapse: separate;
    font-size: 13px;
    width: 100% !important;
    border: none
}

.report_table thead {
    background: #221a7fff;
    background: -moz-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #221a7fff), color-stop(100%, #120c59ff));
    background: -webkit-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: -o-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: -ms-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: linear-gradient(to bottom, #221a7fff 0%, #120c59ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#221a7f', endColorstr='#120c59', GradientType=0)
}

.report_table tbody {
    background: #EAEAEA
}

.report_table tr td {
    border: 1px solid #ccc;
    color: #000 !important
}

.report_table tr th {
    border: 1px solid #ccc;
    color: #fff !important;
    background: #d61111;
}

.report-heading {
    line-height: 35px;
    margin: 15px 0 20px
}

.headings {
    border: 1px dotted #ccc;
    padding: 0;
    text-align: center;
    cursor: pointer;
    background: var(--mg-dark-red);
    color: var(--mg-white);
}

.headings:hover {
    background: #bd0a0a;
    color: #fff
}

.headings-active {
    font-weight: 700;
    background: #bd0a0a;
    color: #fff
}

.report_table tr th,
.report_table tr td {
    text-align: center
}

.report-bottom {
    font-size: 13px;
    margin: 0
}

.refresh_report {
    text-align: left;
    cursor: pointer;
    padding: 0;
    color: #000;
    font-size: 20px !important
}

.view_full_history {
    text-align: right;
    padding: 0;
    color: #000;
    font-style: italic
}

#reports {
    color: #000
}

.paddingzero {
    padding: 0
}

#loader {
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 30%;
    left: 30%;
    z-index: 30001;
    display: none
}

.reports-container {
    padding: 0
}

.allReports {
    padding-bottom: 20px;
    min-height: 400px;
    display: block
}

.maxmin {
    text-align: right;
    font-style: italic;
    font-size: 12px;
    padding-right: 25px;
    padding-left: 25px
}

.textbox-1 {
    padding: 0;
    width: 28%;
    margin-left: 2px
}

.textbox-2 {
    padding: 0;
    width: 29%;
    margin-left: 2px
}

.button-center {
    float: none;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px
}

.filtered_commodities {
    color: #1f1673 !important;
    font-size: 14px;
    font-weight: 700;
    font-style: italic
}

.save_filter {
    text-align: right;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline
}

#show_all_comm {
    text-decoration: underline;
    cursor: pointer
}

.save_filter {
    text-align: right
}

.buySell-info {
    text-align: center;
    margin-top: 10px;
    color: red;
    font-weight: 700
}

#addremarks_modal .modal-header {
    padding-top: 5px;
    padding-bottom: 5px
}

#addremarks_modal #bookStatus {
    font-weight: 700;
    font-size: 14px
}

#addremarks_modal .remarks {
    margin-top: 20px
}

#addremarks_modal #remarks {
    width: 50%
}

.form-group {
    margin-bottom: 15px
}

.estimations {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px #00000013
}

.totalqty {
    font-size: 12px;
    font-style: italic
}

.rateval_buy,
.rateval_sell,
.rateval_update {
    height: 25px !important
}

.buysellrates {
    font-weight: 700
}

.bg-darkgreen {
    background: #060 !important
}

.bg-darkred {
    background: #400000 !important
}

.font-label {
    font-size: 12px
}

.top-div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #000
}

#register {
    margin-top: 20px
}

#register .top-div {
    width: 50%
}

.forget_head {
    margin-top: 20px
}

#activate_terminal {
    font-size: 12px;
    vertical-align: middle;
    color: var(--mg-white) !important;
    text-decoration: underline;
    padding-left: 11px;
    cursor: pointer
}

.trade-section {
    margin-top: 4px;
    padding: 0
}

.displayLotSize {
    text-align: right;
    padding-right: 10px;
    margin-bottom: -9px;
    color: #000
}

.goback {
    text-align: left;
    cursor: pointer;
    color: #3391AF
}

.resendotp {
    cursor: pointer;
    color: #3391AF;
    text-align: left;
    padding-top: 5px
}

.align-2 {
    text-align: right !important
}

.report_availbal {
    font-size: 18px !important;
    font-weight: 700
}

.sellEnabled,
.buyEnabled {
    text-decoration: underline;
    cursor: pointer
}

.sellDisabled,
.buyDisabled {
    text-decoration: none;
    cursor: not-allowed
}

.table {
    width: 100%;
    max-width: 100%
}

.mainprotit {
    color: #fff;
    font-size: 15px;
    margin: 2px 0 0;
    padding: 3px;
    text-transform: uppercase;
    border-radius: 10px;
    background: #221a7fff;
    background: -moz-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #221a7fff), color-stop(100%, #120c59ff));
    background: -webkit-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: -o-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: -ms-linear-gradient(top, #221a7fff 0%, #120c59ff 100%);
    background: linear-gradient(to bottom, #221a7fff 0%, #120c59ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#221a7f', endColorstr='#120c59', GradientType=0);
    margin-top: 15px
}

.tabw1 {
    font-weight: 400;
    width: 35%;
    text-align: center
}

.tabw2 {
    width: 25%;
    text-align: center;
    font-weight: 400
}

input[type=text],
input[type=password],
input[type=number] {
    border-radius: 0 5px 5px 0;
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    float: left;
    padding: 0 15px
}

.request-btn-value label {
    color: #000 !important
}

.request-btn-value input {
    width: auto;
    height: auto;
    float: none;
}

.booking-buttons {
    display: flex;
    justify-content: center
}

#termsConditions a {
    color: #3862C6;
    text-decoration: underline
}

#generateOTP {
    background: #1f1673;
    border: 1px solid #1f1673
}

.checkbox {
    width: auto;
    height: auto;
    float: left
}

#submit {
    background: #1f1673;
    border: 1px solid #1f1673;
}

#otp {
    border-radius: 0 !important
}

.mainprogold_1 {
    margin-bottom: 0
}

div.dataTables_wrapper div.dataTables_filter input {
    height: auto;
    outline: 0;
    float: none;
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    margin-left: 0.5em;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_length {
    float: left;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background: #cfeafa !important
}

@media only screen and (max-width:1050px) {
    .login {
        margin-left: 0 !important
    }
}

@media only screen and (max-width:850px) {
    .top-div {
        width: 60%
    }

    .top-div1 {
        margin-top: 10px
    }

    .contant {
        margin-top: 0
    }
}

@media only screen and (max-width:800px) {

    .top-div,
    #register {
        margin-top: 2%
    }

    .top-div1 {
        margin-top: 3% !important
    }
}

@media only screen and (max-width:767px) {

    .top-div,
    #register {
        margin-top: 2%
    }

    .top-div1 {
        margin-top: 3% !important
    }

    .top-div,
    #register .top-div {
        width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important
    }

    .displayLotSize {
        margin-bottom: 0
    }
}

@media only screen and (max-width:740px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 12% !important
    }
}

@media only screen and (max-width:700px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 12% !important
    }

    .termsText1 {
        margin-top: 56px
    }

    .label_sign {
        display: table-cell
    }

    .report-heading {
        text-align: center
    }
}

@media only screen and (max-width:670px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 14% !important
    }
}

@media only screen and (max-width:600px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 16% !important
    }
}

@media only screen and (max-width:480px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 19% !important
    }

    .marquee_head {
        margin-top: 0 !important
    }

    .reports-container {
        padding-left: 5px;
        padding-right: 5px
    }

    .report_table {
        display: block;
        overflow: scroll
    }

    .report_table tr th,
    .report_table tr td {
        font-size: 12px
    }

    .report-bottom {
        margin-bottom: 20px
    }

    .request-btn-value {
        font-size: 12px
    }

    #register .col-xs-12 {
        padding-left: 5px;
        padding-right: 5px
    }
}

@media only screen and (max-width:430px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 22% !important
    }
}

@media only screen and (max-width:400px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 21% !important
    }
}

@media only screen and (max-width:360px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 25% !important
    }
}

@media only screen and (max-width:320px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 26% !important;
    }
}

@media only screen and (max-width:300px) {

    .top-div,
    #register {
        margin-top: 6%
    }

    .top-div1 {
        margin-top: 2% !important
    }
}
