ion-modal.my-popup1 {
  @media (min-height: 500px) {
    ion-backdrop {
      visibility: visible;
    }
  }

  .toolbar-title-md {
    color: white;
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: flex;

  align-items: center;
  justify-content: center;

  contain: strict;

  .modal-wrapper {

    &,
    .ion-page,
    .ion-page .content,
    .ion-page .content .scroll-content {
      contain: content;
      position: relative;
      top: auto;
      left: auto;
    }

    z-index: $z-index-overlay-wrapper;
    display: flex;
    overflow: hidden;

    flex-direction: column;

    min-width: 90% !important;
    height: 100% !important;

    opacity: 0;

    height: auto;
    max-width: $alert-md-max-width;
    border-radius: $alert-md-border-radius;
    background-color: $alert-md-background-color;
    box-shadow: $alert-md-box-shadow;

    .ion-page .content {
      background-color: color($colors, light);
    }
  }

  ion-content {
    background-image: none !important;
  }
}

page-verifyterms {
  .scroll-content {
    height: 100% !important;
  }

  ion-header>ion-navbar ion-icon {
    // color: #000 !important;
  }

  .btn_common {
    // background: #980000 !important;
    background: #fff !important;
    color: #000 !important;
    border-radius: 5px !important;
  }

}