@charset "utf-8";
body{margin:10px;padding:0;font-family:Calibri;font-size:16px;color:#000}
p{margin:0;padding:0}
a img{border:none}
.title-bar{position:relative;margin:0 auto;width:1000px;background-color:#DDF3FE;padding:0 10px;height:30px;border-bottom:#FFF 3px solid}
.data-table-container{position:relative;background-color:transparent;border-color:#cacad9;border-width:1px;-moz-border-radius:1%;-webkit-border-radius:0%/1%;border-radius:1%/1%;border-style:solid;padding:10px}
.table1-container{position:relative;float:left;padding:0px;width:100%}
.table2-container{position:relative;float:right;padding:0px;width:95%}
.table3-container{position:relative;float:left;padding:0px;clear:both}
.right-container{position:relative;float:right;padding:0px;width:100%}
.rpanel{font:bold 16px Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif}
#table1,#table2,.table3{background-color:transparent;padding:3px;border-color:#bdbdbf;border-width:1px;-moz-border-radius:2%;-webkit-border-radius:2%/2%;border-radius:2%/2%}
.lastupdate{position:relative;background:url(../img/lastupdate-bg.jpg) no-repeat top center;width:250px;height:30px;line-height:25px;margin:10px auto;text-align:center;clear:both}
#table1 td,#table2 td,.table3 td{border-right:1px solid #f3f3f3;border-bottom:1px solid #f3f3f3;vertical-align:middle;text-align:center;color:#000;font-size:15px;padding:8px}
#table1 .rateheading,#table2 .rateheading{background-color:#30A5E8;color:#FFF}
.table3-title{background-color:#637485}  
.table3-rate{border:1px solid #f3f3f3}
.help-desk{position:relative;margin:15px auto;background:url(../img/helpdesk-bg.jpg) no-repeat;width:260px;height:113px}
.help-phone-no{position:relative;float:left;width:200px;text-align:center;left:50px;top:40px;font-size:12px}
.poweredby{position:relative;float:left;width:240px;top:60px;text-align:center}
.flowchart{position:relative;margin:0 auto;background:url(../img/flowchart-bg.png) no-repeat;width:261px;height:278px}
.notification{width:325px;margin:15px auto;text-align:center}
.notification-content{position:relative;top:35px;text-align:center;color:#207BB3;font-weight:700;font-size:14px}
.sell .bank{position:relative;width:65px;top:24px;left:14px;height:26px;right:-56px;text-align:center;line-height:26px;color:#000;}
.sell .svg{position:relative;width:65px;top:-1px;left:100px;height:26px;right:-56px;text-align:center;line-height:26px;color:#000;}
.sell .mcx{position:relative;width:65px;top:-27px;left:187px;height:26px;right:-56px;text-align:center;line-height:26px;color:#000;}
.sell .bank-svg{position:relative;width:61px;top:-17px;left:48px;height:26px;right:-56px;text-align:center;line-height:26px;color:#FFF}
.sell .svg-mcx{position:relative;width:61px;top:-43px;left:154px;height:26px;right:-56px;text-align:center;line-height:26px;color:#FFF}
.sell .bank-mcx{position:relative;width:61px;top:-30px;left:98px;height:26px;right:-56px;text-align:center;line-height:26px;color:#FFF}
.buy .bank{position:relative;width:72px;top:8px;left:10px;height:26px;right:-56px;text-align:center;line-height:26px}
.buy .svg{position:relative;width:61px;top:-18px;left:100px;height:26px;right:-56px;text-align:center;line-height:26px}
.buy .mcx{position:relative;width:61px;top:-43px;left:187px;height:26px;right:-56px;text-align:center;line-height:26px}
.buy .bank-svg{position:relative;width:61px;top:-34px;left:48px;height:26px;right:-56px;text-align:center;line-height:26px;color:#FFF}
.buy .svg-mcx{position:relative;width:61px;top:-60px;left:153px;height:26px;right:-56px;text-align:center;line-height:26px;color:#FFF}
.buy .bank-mcx{position:relative;width:61px;top:-47px;left:98px;height:26px;right:-56px;text-align:center;line-height:26px;color:#FFF}
.right-bottom{position:relative;width:290px;left:-40px}
.white-highlight,.txtlabel1a{width:100px;text-align:center;font-size:15px!important;font-weight:700;border:1px solid #ddd;border-radius:5px}
.white-highlight:hover{border:1px solid #ddd;border-radius:5px}
.rdata{font-size:15px!important}
.white-highlight-manual{width:100px;text-align:center}
input[type="text"]:not(.white-highlight):not(.white-highlight-manual){width:100%!important;border:none;background:inherit;text-align:center}
.txtlabel1,.txtlabelbold{font-size:20px;font-weight:700}
.txtlabel{font-size:15px;font-weight:700}
.rpanel-tbody td{padding:8px!important}
.rdata input{margin-left:8px}
.table th,.table td{border-top:none!important}
.rpanel-title{font-size:16px;margin-bottom:0;line-height:normal}
.rpanelmar td{border:none}
.rpanelmar td img{width:100%;height:auto}
.rpanelmar tr td{font-size:14px!important;border:none;font-weight:400!important;padding:.6rem .9375rem}
.rpanelmar a{background:#399ee2;color:#fff;padding:8px 16px!important;border-radius:5px}
.rpanelrate td{border:none!important;padding:10px 0 10px 0px!important}
.rpanelrate1 label{margin-bottom:2px;}
.rpanelcontract tr{margin-bottom:0}
.white-highlight1{font-size:15px!important;font-weight:700;border:1px solid #ddd!important;border-radius:5px;width:100%;text-align: right !important;}
.rpanelrate input[type="radio"],.rpanelrate input[type="checkbox"]{margin:5px}
.table3-title td:last-child{border-top-right-radius:10px}
.title1 th:last-child{border-top-right-radius:10px}
.updatedrpanel{background:#30a5e8;padding:8px 30px;border:1px solid #30a5e8;color:#fff;border-radius:5px;font-size:15px}
.displaycontract{margin-top:0}
.box-content{margin-top:0}
.rpanel_title2{display:none !important}
.rpanel_title1{display:block}
.market_sta{margin-left:48px}
@media (max-width:768px) {
.displaycontract{margin-top:0}
}
@media (max-width:767px) {
#phoneBook .card .card-body{padding: 0px 8px !important;}
.col-md-2, .col-md-8, .col-md-2{padding-left:5px;padding-right:5px;}
.rpanel_title2{display:block !important}
.rpanel_title1{display:none !important}
.updatedrpanel{margin-bottom: 10px;padding: 5px 10px !important;}
.market_sta{margin-left:0px !important}
.update-button-box{text-align: center !important;}
.table td{white-space:normal !important}  
}
@media (max-width:480px) {
#phoneBook .card .card-body{padding: 0px 0px !important;}
.col-md-2, .col-md-8, .col-md-2{padding-left:5px;padding-right:5px;}
.rpanelmar li{padding-left:53px !important}
input,button{padding:5px 0px !important}
.rdata input{margin-left:0px;}
.txtlabel1, .txtlabelbold{font-size:15px;}
.table3 td{font-size:14px !important;}
.content-wrapper{padding:.5rem}
.card-body .col-md-7, .col-md-5{padding-left: 2px;padding-right: 2px;}
.rateTable tr td{font-size: 13px !important;}
html, body{overflow-x: hidden;}
.add_new{float: right;} 
}
@media (max-width:420px) {
#phoneBook .card .card-body{padding: 0px 0px !important;}
.col-md-2, .col-md-8, .col-md-2{padding-left:5px;padding-right:5px;}
.rpanelmar li{padding-left:40px !important}
input,button{padding:5px 0px !important}
.rdata input{margin-left:0px;}
.txtlabel1, .txtlabelbold{font-size:15px;}
.table3 td{font-size:14px !important;}
}
.notification h4{background:#4384ac;text-align:center;padding:8px;font-weight:700;border-radius:10px;position:relative;top:10px;color:#fff;font-size:18px}
.booking_contact1{border-top:0;margin-top:-10px;margin-bottom:0;border-bottom-left-radius:10px;border-bottom-right-radius:10px;height:100px;background:#e5e3e4}
.booking_contact1 p{font-size:17px;position:relative;top:33px;color:#000;margin-bottom:0}
.help-contact{position:relative;top:13px}
.table3 td{color:#fff}
.rpbankrates label{margin-bottom:0}
.box-content1{margin-top:20px}
.card .card-body{padding:.2rem 1.8rem!important}
.rpanel_title{margin-top:15px}
.rpanel_title1{margin-top:15px}
/* .row.form-sample1{display:flex;flex-wrap:nowrap;gap:10px} */
.table-container{flex:1;min-width:0}
.table-responsive{margin-top:0!important}
table{table-layout:auto;width:100%;border-collapse:collapse}
.displaycontract{margin-bottom:15px!important}
.rpanelmar{list-style:none;float:left;margin:0;padding:0}
.rpanelmar li{float:left;padding-left:16px;padding-top:10px}
.update-button-box{text-align: center !important;}
.rpanelmar a:hover{color:#fff;}
.box-content{border-right:none !important;}
.flowchart_gold {
	position: relative;
	margin: 0 auto;
	background: url(../img/flowchart-gold.jpg) no-repeat;
	width: 261px;
	/* height: 278px; */
}
.flowchart_silver {
	position: relative;
	margin: 0 auto;
	background: url(../img/flowchart-silver.jpeg) no-repeat;
	width: 261px;
	/* height: 278px; */
}
.chart_gold {
	position: relative;
	margin: 0 auto;
	background: url(../img/chart_gold.jpg) no-repeat;
	width: 500px;
	height: 181px;
}
.chart_gold .chart_goldc{
	position: inherit;
    left: 30px;
    top: 45px;
}
.chart_gold .chart_goldmc{
	position: inherit;
    left: 150px;
    top: 30px;
}
.chart_gold .chart_gold_cmc_diff{
	position: inherit;
    left: 68px;
    top: 12px;
    text-align: center;
    width: 70px;
    height: 21px;
	color: #FFFFFF;
}
.chart_gold .chart_goldf{
	position: inherit;
    left: 250px;
    top: 10px;
}
.chart_gold .chart_goldmf{
	position: inherit;
    left: 318px;
    top: -16px;
}
.chart_gold .chart_goldmmf{
	position: inherit;
    left: 413px;
    top: -35px;
}
.chart_gold .chart_gold_fmf_diff{
	position: inherit;
    left: 267px;
    top: -9px;
    text-align: center;
    width: 70px;
    height: 22px;
	color: #FFFFFF;
}
.chart_gold .chart_gold_fmmf_diff{
	position: inherit;
    left: 306px;
    top: 14px;
	text-align: center;
    width: 70px;
    height: 22px;
	color: #FFFFFF;
}
.rateTable_head td:last-child {
  border-top-left-radius: 10px;
}