page-forgotpassword {

    /*.toolbar-background-md {
        background: #f8f8f8;
    }*/
    .item-ios {
        background-color: none !important;
    }

    .item-input ion-input,
    .item-input ion-textarea {
        //background-color: #fff !important;
        border-bottom: 1px solid #fff;
        color: #fff;
    }

    .list-ios>.item-block {
        border-top: none !important;
        background: none !important;
        background-color: none !important
    }

    .item-md {
        background: none !important
    }
}