<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div style="text-align: right !important; margin-top: 30px">
    <button
      class="button-small btn_skip"
      style="height: 1.8em !important"
      ion-button
      (click)="gotoHomePage()"
    >
      Skip
    </button>
  </div>
  <div class="center_align">
    <img
      class="logo"
      alt="logo"
      height="40"
      cache="true"
      src="assets/imgs/header.svg"
    />
  </div>
  <div class="center_align captions" style="margin-top: 20px">
    WELCOME TO MAHARAJ GOLD SMITH.
  </div>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
    novalidate
    padding
  >
    <ion-item class="errMsg" *ngIf="errorMessage != ''"
      >{{errorMessage}}</ion-item
    >
    <ion-row>
      <ion-col col-10 class="login_head">Mobile Number</ion-col>
      <ion-col col-2 class="icon_col"
        ><ion-icon class="ionicon" name="phone-portrait"></ion-icon
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="component_col" padding>
        <input
          [formControl]="username"
          [(ngModel)]="authorization.user_name"
          type="tel"
          maxlength="10"
          placeholder="10 digit mobile number"
          class="native-input"
          autocomplete="off"
        />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-10 class="login_head">Password</ion-col>
      <ion-col col-2 class="icon_col"
        ><ion-icon class="ionicon" name="key"></ion-icon
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="component_col_pass">
        <ion-item>
          <input
            class="native-input input_style"
            [formControl]="password"
            [(ngModel)]="authorization.password"
            [type]="typecheck"
            placeholder="password"
            maxlength="15"
            autocomplete="current-password"
          />
          <button
            *ngIf="!showPass"
            ion-button
            clear
            color="dark"
            type="button"
            item-right
            (click)="showPassword()"
            style="padding: 0px"
          >
            <ion-icon
              style="margin-top: 5px; color: black !important"
              name="eye-off"
            ></ion-icon>
          </button>
          <button
            *ngIf="showPass"
            ion-button
            clear
            color="dark"
            type="button"
            item-right
            (click)="showPassword()"
            style="padding: 0px"
          >
            <ion-icon
              style="margin-top: 5px; color: black !important"
              name="eye"
            ></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ng-container *ngIf="password.touched && password.value">
            <div class="err" *ngIf="!validLength(password.value)">* Password must be 6–15 characters</div>
        </ng-container><br> -->
    <div class="center_align" style="margin-top: 15px">
      <ion-checkbox
        type="checkbox"
        [formControl]="dummy_rememberme"
        [(ngModel)]="authorization.rememberme"
        color="dark"
        checked="true"
      ></ion-checkbox>
      <span class="center_align captions" style="padding-left: 5px !important;">Remember me</span>
    </div>
    <button
      [disabled]="isDisabled"
      ion-button
      class="btn_common"
      block
      color="dark"
      style="margin-top: 15px"
    >
      Login
    </button>
  </form>

  <ion-card style="border-radius: 10px !important">
    <ion-card-header class="card_header"> Are you a new user? </ion-card-header>
    <ion-card-content>
      <ion-row
        ><ion-col
          ><ion-icon name="information-circle"></ion-icon>
          <a class="href_link" (click)="gotoRegisterPage()"
            >Click here</a
          ></ion-col
        ></ion-row
      >
      <ion-row
        ><ion-col
          ><ion-icon name="information-circle"></ion-icon> Submit your details
          on registration form</ion-col
        ></ion-row
      >
      <ion-row
        ><ion-col
          ><ion-icon name="information-circle"></ion-icon> You would receive an
          OTP to your registered mobile no. Submit it on the screen</ion-col
        ></ion-row
      >
      <ion-row
        ><ion-col
          ><ion-icon name="information-circle"></ion-icon> Thats it, Your online
          trading account will be activated when KYC verified</ion-col
        ></ion-row
      >
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="footer_tab" col-6 (click)="gotoForgotpasswordPage();"
        >Forgot Password</ion-col
      >
      <ion-col class="footer_tab" col-6 (click)="gotoRegisterPage();"
        >New Register</ion-col
      >
    </ion-row>
  </ion-toolbar>
</ion-footer>
