@charset "utf-8";
/* CSS Document */


.header { background:#84ad09; padding:10px 0 0 0; }
.header p { color:#f2db30; margin-top:15px;}
.header .panel.welcome_bg { background:#f2db30; }
.since_main { }
.header_main { }

.main_content { }
.part1_main {  }
.part1_table { }
.table tr.part1_header { background:#216a00; color:#fff; font-size:22px; }
#daily_rate thead { text-align:center;}
.table tr.part1_sub { background:#ebebeb; font-size:24px; font-weight: bold;}
.table tr.odd-rate:nth-child(odd) {font-size:24px; font-weight: bold; background: #ebebeb;}
.table tr.odd-rate:nth-child(even) {font-size:24px; font-weight: bold;}
.forbooking {font-weight:bold;  font-size: 20px; color:#FFFFFF !important;}

/*.imageAndText { position: relative; } 
.imageAndText .col { position:absolute; z-index: 1; top: 0; left: 0;  width:100%; border:1px solid #f00; height:100%;}*/
.part2_main { margin-left:10px; }
.part2_main .home_event { background:#ebebeb; border:1px solid #cccbc8; }
.events_2bg { border:1px solid #f00;}

.part3_main { }
.parts3_gads { margin:5px 0; }
.market_main { background:#ebebeb; border:1px solid #cccbc8; }
.market_main p.market_title { background:#f2db30; padding:5px; font-size:16px; }
.market_main p { font-size:14px; line-height:20px; font-weight:bold;}

/* .disclaimer { background:#ebebeb; }
.disclaimer hr { border:1px solid #c2c2c2; }
.disclaimer p { font-size:13px; line-height:25px; margin-bottom:20px;} */

footer { background:#216a00; padding:20px 0 10px 0;}
footer p { color:#fff; }
.mail_login a { color:#baf40b; margin-left:10px; text-decoration:none; }
.mail_login a:hover { color:#f2db30; margin-left:10px; text-decoration:none; }

/* not display desktop */
#menu { display:none;  }
.slicknav_menu {
	display:none;
}
.for_booking{
text-align:center;
font-size:20px;
line-height:20px; 
font-weight:bold
}
/* for tables outline */
.loginTableContainer{
	width: 40%;
	padding: 0;
	background-color: #fafafa; 
	padding-bottom:20px;
	border: #216A00 1px solid;
	margin-left:auto;
	margin-right:auto;
    -webkit-border-radius:10px; 
    -moz-border-radius: 10px; 
     border-radius: 10px; 
}
.loginTable{
	width:80%;
	margin: 0 auto;
}
.loginTable td{
	height: 35px;
}

.login .btn-primary {
    background: #216A00 !important;
}
/*  registration */
.registration { 
border:1px solid #000; 
width:80%; 
background-color:#FAFAFA;"
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
		padding:8px !important;
	}
.powerdby{
	text-align:right;
}
@media only screen and (min-width: 992px)
{
	/* .for_booking { display:none; }*/
	 .m_welcome { display:none; }
}

@media (max-width:768px)
{
	/*
	.since_main { display:none; }
	.navbar { display:none; }
	.header_main { display:none; }
	.header { display:none; }*/
	.registration .row, .kyc .row{
	width:90%;
	margin-right:auto;
	margin-left:auto;
	}
	.table tr.part1_header{ font-size:21px }
	.table tr.odd-rate { font-size:21px }
	.table tr.part1_sub { font-size:21px }
	.pull-center img{ width:35%;}
	.pull-left1 img{ width:30%;margin-left:14%;}
}



@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
	.for_booking { text-align:center;font-size:12px;line-height:20px; font-weight:bold }
	.loginTableContainer{
	width: 90%;
	padding: 0;
	background-color: #fafafa; 
	padding-bottom:20px;
	border: #216A00 1px solid;
	}
	.loginTable{
		width:90% !important;
		margin:0 auto;
	}
	.registration { 
		width:90% !important; 
	}
	.registration .row, .kyc .row{
	width:90%;
	margin-right:auto;
	margin-left:auto;
	}
	.table tr.part1_header{ font-size:16px }
	.table tr.odd-rate { font-size:16px }
	.table tr.part1_sub { font-size:16px }
	.pull-center img{ width:35%;}
	.pull-left1 img{ width:50%;margin-left:14%;}
	.ratevalue2{
		font-size:16px !important;
	}
	.ratevalue3{
		font-size:18px !important;
	}
	.copy_right{
		text-align: center;
	}
	.powerdby{
		text-align: center;
	}
}

@media only screen and (max-device-width: 480px) {
/* define mobile specific styles come here */

	.since_main { display:none; }
	/*.navbar { display:none; }
	.header_main { display:none; }
	.header { display:none; }*/
	
	.m_header_main { background:#84ad09; padding:10px 5px; margin-bottom:10px; }
	/*.for_booking { background:#216a00; color:#f2db30; font-size:12px; padding:7px; margin-top:5px; margin-bottom:0; margin-right:-10px; line-height:20px; }*/
	.for_booking { text-align:center;font-size:12px;line-height:20px; font-weight:bold }
	.m_welcome { background:#f2db30; padding:7px; font-size:12px; margin-top:5px; }
	.m_logo_main { background:url(../images/m_priyanka_logo.png) 0 0 no-repeat; width:159px; height:50px; }
	.m_since_logo { background:url(../images/m_since_logo.png) 0 0 no-repeat; width:57px; height:45px; margin-left:20px;}
	
	.table tr.part1_header{ font-size:16px }
	.table tr.odd-rate { font-size:16px !important}
	.table tr.part1_sub { font-size:16px }
	.pull-center img{ width:35%;}
	}

/*sub page css */
.main_inner {     font-size: 15px;background:#f5f5f5;}
.main_inner h3 { border-bottom:2px solid #216a00; padding-bottom:10px; display:inline-table; }
.main_inner h3.enquiryfrm { border-bottom:2px solid #216a00; padding-bottom:10px; display:inline-table; margin-left:25px;  }
.main_inner .sendbtn{border:none; width:120px; height:30px; color:#FFFFFF !important; }
/*.main_inner .sendbtn { background:#f2db30; border:1px solid #d5bd08; color:#000; }
.main_inner .sendbtn:hover { background:#84ad09; color:#fff; border:1px solid #759b02; }*/

.main_inner_home { }
.readmore_btn { background:#216a00; color:#fff; }
.readmore_btn:hover { background:#f2db30; color:#fff; }
@media only screen and (max-device-width: 400px) {
	.table tr.part1_header{ font-size:16px }
	.table tr.odd-rate { font-size:16px }
	.table tr.part1_sub { font-size:16px }
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
		padding:8px !important;
	}
	.ratetable1{
		margin-left: -42px;
      width: 370px !important;
	}
	.ratetable3{
		width: 370px !important;
		margin-left: -43px;
	}
	.madurai_rate{
		width: 370px !important;
		margin-left: -43px;
	}
}
@media only screen and (max-device-width: 360px) {
	.table tr.part1_header{ font-size:16px }
	.table tr.odd-rate { font-size:16px }
	.table tr.part1_sub { font-size:16px }
	.ratetable1{
		margin-left: -42px;
      width: 354px !important;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
		padding:8px !important;
	}
	.ratetable3{
		width: 356px !important;
		margin-left: -43px;
	}
	.madurai_rate{
		width: 356px !important;
		margin-left: -43px;
	}
}
@media only screen and (max-device-width: 320px) {
	.table tr.part1_header{ font-size:16px }
	.table tr.odd-rate { font-size:16px }
	.table tr.part1_sub { font-size:16px }
	.ratetable1{
		margin-left: -42px;
		width: 314px !important;
	}
	.ratetable3{
		width: 314px !important;
		margin-left: -43px;
	}
	.madurai_rate{
		width: 314px !important;
		margin-left: -43px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
		padding:5px !important;
	}
}
