page-userregotp {

    .item-md,
    .item-ios {
        background-color: none !important;
    }

    ion-header >ion-navbar ion-icon {
        color: #FFF !important;
    }

    .item-input ion-input,
    .item-input ion-textarea {
        //background-color: #fff !important;
        border-bottom: 1px solid #1B7001;
    }

    .list-ios>.item-block {
        border-top: none !important;
        background: none !important;
        background-color: none !important
    }

    .custom_list {
        background: none !important;
        margin: 0px;
    }

    // .icon_col {
    //     color: #00adef !important;
    //     padding-top: 0px;
    //     padding-bottom: 0px;
    // }
}