page-clientlimit {
    .clientlimitrow{
        background: #FFF;
    }
    .headercol{
        background:#613813 !important;
        color:#FFF !important;
        border-radius: 10px !important;
        font-size: 12px !important;
    }
    .scroll-content{
        margin-bottom: 80px !important;
      }
}
