<!--
  Generated template for the ClientlimitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Client Limit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="dispbookinglist_len != 0"> 
    <ion-card style="border-radius: 10px !important;">
    <ion-row class="headercol">
      <ion-col col-3 text-center>Commodity</ion-col>
      <ion-col col-3 text-center>Min</ion-col>
      <ion-col col-3 text-center>Max</ion-col>
      <ion-col col-3 text-center>Alloted Qty</ion-col>
    </ion-row>
    </ion-card>
    <ion-card style="border-radius: 10px !important;">
    <ion-row class="clientlimitrow" *ngFor="let clientlimit of clientlimitlist">
      <ion-col col-3 text-center><b>{{clientlimit.comname}}</b></ion-col>
      <ion-col col-3 text-center>{{clientlimit.minimumqty}}</ion-col>
      <ion-col col-3 text-center>{{clientlimit.maxqty}}</ion-col>
      <ion-col col-3 text-center>{{clientlimit.allot_qty}}</ion-col>
    </ion-row>
  </ion-card>
  </div>
</ion-content>
