page-economical {
  .last-table {
    margin-bottom: 30px;
    overflow-x: auto;
  }

  .scroll-content {
    margin-bottom: 90px !important;
  }

  header,
  .ecoTimeAndDate {
    min-width: auto !important;
  }

  iframe {
    max-width: 100%;
  }
}
