page-enquiry {
  .bank-details {
    padding: 0.5em;
    line-height: 24px;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 5px;
  }
  .scroll-content {
    padding-bottom: 130px !important;
  }
}