page-settings {
    .custom_ion_item {
        background: #980000 !important;
        color: #FFF !important;
    }

    .custom_list {
        background: none !important;
        margin: 0px;
    }

    .custom_list {
        background: none !important;
        margin: 0px;
    }

    ion-header>ion-navbar ion-icon {
        color: #000 !important;
    }

    ion-icon,
    .menu-icon,
    .ion-icon {
        justify-content: center;
        display: contents;
        text-align: center;
        color: #fff !important;
    }
}