html,body{overflow-x:hidden}
body{margin:0;padding:0;font:13px Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;color:#606060}
.logo{font-size:52px;height:88px;line-height:88px;color:#FFF0BE}
.main-container{min-height:100%;position:relative}
.header-right{text-align:right;font-size:15px}
.header-content{height:70px!important;background:#EAEAEA!important;line-height:70px}
.header-content > div{height:70px!important}
.inner-header{padding-left:50px;padding-right:50px}
.body-content{padding:100px;padding-bottom:70px}
.footer-content{background:#EAEAEA!important;line-height:70px;position:absolute;bottom:0;width:100%}
.margin-container{height:35px;margin-bottom:2px;font-size:14px;padding:0;/* background:#844fc1; */background:#637485;color:#FFF!important;border-radius:10px 10px 0 0}
.margin-container .margin-text{background:#D0CECF;height:35px;line-height:35px;font-size:14px;font-weight:700;background-color:#2CA2E6}
.margin-container .margin-value{color:#FFF;height:35px;line-height:35px;border:1px solid #E1E1E1;font-size:14px;font-weight:700;background-color:#2CA2E6}
.margin-container > div{padding:0;line-height:35px;height:35px}
.trade-section{margin-top:15px}
.comm-purchase{background:#ECECEC}
.reset{margin:10px;font-weight:700;text-decoration:underline;cursor:pointer}
.button-row{pointer-events:none;opacity:.5}
.requst_heading{height:35px;line-height:35px;text-align:center;font-weight:700;font-size:16px;padding-left:0;padding-right:0}
.request-text{background-color:#273d52;/* background-color:#99c0e7; */height:36px;line-height:36px;text-align:center;padding:0;font-size:13px;font-weight:700;color:#FFF}
.request-value{background:#CCC;height:36px;line-height:36px;text-align:left;color:#000}
.request-btn-text{height:30px;line-height:30px;text-align:center;font-weight:700;font-size:14px;color:#000}
.request-btn-value{height:30px;line-height:30px;text-align:left;font-size:14px;color:#000}
.request-btn-value label{cursor:pointer}
.request-rows{margin:20px 0 3px;padding-left: 5px;padding-right: 5px;}
.button-book .buysellrates{text-align:center;color:#fff;height:70px;padding:10px;border-radius:5px;cursor:pointer;font-size:19px}
#book .buysellrates{background:green}
.button-cancel .buysellrates{text-align:center;background:#04B425;color:#fff;height:70px;padding:10px;border-radius:5px;cursor:pointer;font-size:18px;line-height:50px}
.button-update .buysellrates{text-align:center;background:#04B425;color:#fff;height:70px;padding:10px;border-radius:5px;cursor:pointer;font-size:18px}
.rateval{font-weight:700;font-size:20px;height:27px}
.button-book{margin-top:15px;margin-bottom:10px}
.button-cancel{margin-top:15px;margin-bottom:10px}
.button-update{margin-top:15px;margin-bottom:10px}
.button-red{padding-left:25px;padding-right:25px;pointer-events:none;display:none}
.insuff_margin{text-align:center;background:red;color:#fff;height:45px;padding:13px;border-radius:5px;margin-top:20px}
.atv_btn{pointer-events:all!important;opacity:1!important}
.width-input{background-color:#FFF;font-weight:700;height:36px}
.report_table{border-collapse:separate;font-size:13px}
.report_table thead{background-color:#2CA2E6}
.report_table tbody{background:#EAEAEA;font-size:13px}
.report_table tr td{border:1px solid #ccc;font-size:13px!important;color:#000!important}
.report_table tr th{border:1px solid #ccc;font-size:13px!important;color:#FFF!important}
.report-heading{height:35px;line-height:35px;margin-bottom:20px;margin-top:15px}
.headings{background:#DED2C4;border:1px dotted #ccc;padding:0;text-align:center;cursor:pointer;color:#000}
.headings:hover{font-weight:700}
.headings-active{font-weight:700;background-color:#2CA2E6;color:#fff}
.report_table tr th,.report_table tr td{text-align:center;font-size:16px}
.report-bottom{font-size:13px}
.refresh_report{text-align:left;cursor:pointer;padding:0;color:#000;font-style:italic}
.refresh_report:hover{text-decoration:underline}
.view_full_history{text-align:right;padding:0;color:#000;font-style:italic}
#reports .news{padding:15px;border:1px dotted #ccc;background:#efefef;color:#999}
.paddingzero{padding:0}
#loader{margin:0;padding:0;position:fixed;right:0;top:30%;left:30%;z-index:30001;display:none}
.logoContainertop{height:88px}
.menu a{line-height:88px!important;color:#FFF0BE!important}
.reports-container{margin-top:20px}
.maxmin{text-align:right;font-style:italic;font-size:12px;padding-right:25px;padding-left:25px}
.com_name{font-size:13px}
.textbox-1{padding-left:0;padding-right:0;width:28%;margin-left:2px}
.textbox-2{padding-left:0;padding-right:0;width:29%;margin-left:2px}
.button-center{float:none;margin:0 auto;margin-top:15px;margin-bottom:40px}
.filtered_commodities{color:#2CA2E6!important;font-size:14px;font-weight:700;font-style:italic}
.save_filter{text-align:right;font-weight:700;cursor:pointer;text-decoration:underline}
#show_all_comm{text-decoration:underline;cursor:pointer}
.save_filter{text-align:right}
.edit_rate,.close_edit_rate{text-align:right;font-style:italic;padding-right:25px;cursor:pointer;text-decoration:underline}
.box-content{border-right:1px solid #eee}
.userContainer{text-align:left;margin-top:20px;margin-bottom:20px}
.radiobuysell label{cursor:pointer}
.radiorates{padding-right:0}
.radiorates label{cursor:pointer;font-size:12px}
.report{padding-top:5px}
.report table tr td,.report table tr th{text-align:center}
#addremarks_modal .modal-header{padding-top:5px;padding-bottom:5px}
#addremarks_modal #bookStatus{font-weight:700;font-size:14px}
#addremarks_modal .remarks{margin-top:20px}
#addremarks_modal #remarks{width:50%}
#autocomp_list{position:absolute;box-shadow:0 1px 6px #000;background:#fafafa;z-index:9999;margin-top:5px;display:none;width:100%;border-radius:5px}
#autocomp_list .autocomp_data{border-bottom:1px solid #ccc;padding:10px;cursor:pointer}
#autocomp_list .autocomp_data:hover{background:#eee}
#autocomp_list .autocomp_close{border-bottom:1px solid #ccc;padding:3px 10px;cursor:pointer;float:right;color:#5995FF;font-size:12px}
.searchSelected{background:#eee}
#ratetable > tbody > tr > td:nth-child(3),#ratetable > tbody > tr > td:nth-child(2){font-size:22px;font-weight:700}
.estimations{padding:0}
.rateTable tr th,.rateTable_head{font-size:16px;text-align:center;/* background:#844fc1; */background:#637485;color:#fff !important;border:none!important}
.rateTable tr td{font-size:17px;text-align:center;font-weight:600;padding:8px;}
.rateTable tr td .div{padding:8px;}
/* .com_name{text-align:left!important} */
.displayLotSize{text-align:right;padding-right:25px}
@media only screen and (min-width: 1200px) {
.container{width:1265px}
}
@media only screen and (max-width: 480px) {
.marquee_head{margin-top:0!important}
.request-btn-value{font-size:12px}
.trade-section{padding-left:5px;padding-right:5px}
.reports-container{padding-left:5px;padding-right:5px}
.report_table{display:block;overflow:scroll}
.report_table tr th,.report_table tr td{font-size:12px}
.report-bottom{margin-bottom:20px}
.contant{margin-top:60px!important}
}
@media only screen and (max-width: 400px) {
.request-btn-value{font-size:11px}
html,body{overflow-x:scroll}
}
.sellEnabled,.buyEnabled{text-decoration:underline;cursor:pointer;text-decoration-color:#000;text-decoration-thickness:3px}
#liveratetable{margin-bottom:20px}
#liveratetable2{margin-bottom:20px}
.phonebook_head{border-top-right-radius:10px!important}
.titleheading1{border-top-left-radius:10px!important}
/* .commodity_listing1 tr:last-child td:nth-child(1){border-bottom-left-radius:18px;border:none}
.commodity_listing1 tr:last-child td:nth-child(3){border-bottom-right-radius:18px;border:none}
.commodity_listing2 tr:last-child td:nth-child(1){border-bottom-left-radius:18px;border:none}
.commodity_listing2 tr:last-child td:nth-child(5){border-bottom-right-radius:18px;border:none} */
.rateTitle{font-size:17px !important;}
.title td{font-size:17px !important;}
.commodity_listing2 td > div {
    padding: 8px;
}