page-messages {
  ion-card-header{
    background-color: #307812 !important;
    color: #FFF !important;
  }
  .scroll-content{
    margin-bottom: 80px !important;
    padding-bottom: 0px !important;
  }
}
